body{

    margin: 0px;
}


header {
    display: flex;
    flex-direction: row;
    height: 89px;
        
}

header .container {
    display: flex;
    width: 100%;
}

ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    align-items: center;
}

ul a {
    text-decoration: none;
    color: black
}



.parent{
    padding-top: 50px;
    display: flex;
    width:100% ;
    
    
}

.child-1{

    background: rgb(119, 0, 255);
    width: 50%;
    display:flex;
    height: 500px;

}

.child-2{
    background: rgb(0, 255, 234);
    width: 50%;
    display:flex;
    justify-content: space-around;
}

.parent1{
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;

}

.child1{
background-color:aliceblue;
width:30%;
height: 600px;


}
.child2{
    background-color:aliceblue;
    width:30%

}

.child3{
    background-color:aliceblue;
    width:30%
 
} 


.parent2{
    padding-top: 50px;
    display: flex;
    width: 100%;
    height:  500%;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;



    
    

}

.child6{
    padding-top: 100px;
    background-color:red;
    width:100%;

}

.child7{
    padding-top: 100px;
    background-color:aquamarine
    width:100%;
    
}
.child8{
    padding-block-end: 100px;
    background-color: azure;
    width:100%
} 
.parent3{
    padding-top: 50px; 
    display: flex;
    flex-direction: column;
    width: 100%; 
    
    
}
.child5{
    background-color: orange;
    width: 100%;
    height: 400px;
}
.child9{
    background-color: antiquewhite;
    width: 100%;
    height: 400px;
    
}
.child10{
    background-color: black;
    width: 100%;
    height: 50px;


    
}

