body{

    margin: 0px;
}


header {
    display: flex;
    flex-direction: row;
    height: 89px;
    width: 100%;
}

h1 {
    text-align: center;
}

ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    align-items: center;
}

ul a {
    text-decoration: none;
    color: black
}

.parent{
    padding-top: 50px;
    display: flex;
    width:100% ;
    
    
}

.child-1{

    background: rgb(119, 0, 255);
    width: 50%;
    display:flex;
    height: auto;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    
}

.child-2{
    background: rgb(0, 255, 234);
    width: 50%;
    display:flex;
    height: 500px;
    flex-direction: row;
    height: 768px;

}
h1{
    text-decoration: none;
    color:darkblue;

}

.parent1{
    
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    border-style:lightblue;
    width: 100%;
    padding: 60px;
    width: calc(100% - 120px);
    justify-content: space-between;
    background-color:ghostwhite;
    filter:drop-shadow(0 0 0.rem lightblue);

}
.parent1 > div{
    margin: 0 16px;
}

.parent1 p {
    margin: 8px 0;
}

.child1{
    background-color: none;
    display: flex;
    flex-direction: column;
    height: 673px;
    width: 30%;
    align-self: center;
    border-style:groove;
    text-align: center;
    align-items: center;
    border-radius: 24px;
    text-decoration:none;
    color:darkblue;   
    font-size: 22px;
    text-align: left;
    padding: 24px;
    
}

.parent2 > div {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    background:white;
}

.parent2{
 padding: 60px;
 display: flex;
 flex-direction: column;
 align-items: center;
 background-color:ghostwhite;
         
}

.child6{
    background-color:none;
    border-radius: 12px;
    text-decoration:darkblue;
    color:darkblue;
}

.child6 > div {
    margin-left: 24px;
}

.parent3 {
    padding-top: 50px; 
    display: flex;
    flex-direction: row;
    width: 100%; 
}
.child5 h1 {
    text-decoration:none;
    color:white;
    
}
.child5 p{
    text-decoration: none;
    color:white;
    font-size: 30px;
    width: 82%;
    margin: auto;
    font-size: 22px;
}

.child5{
    background-color: orange;
    width: 100%;
    text-align: center;
}
iframe {
    margin: 24px;
    border-radius: 24px;
}
.child9{
    background-color:gray;
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: row;

}
.child9 img{
    width: 32px;
    height: 32px;
    margin: 5px;
    border-radius: 4px;
}
.child9 ul{
    justify-content: left;
    width: 100%;    

    
    
}

.child9 .child:not(:first-child) ul {
    flex-direction: column;
    align-items: start;   
    padding: 0;

}

.child9 a.button {
    display: block;
    margin: 0;

}

.child9 button {
    border-radius: 0px; 
    background:none;
    border: 5px solid;
    width: 50%;
    margin: 0;

}

#april_logo {
    display: flex;
    width: 118px;
    height: 59px;
    margin: 48px 0 0;
}


.child{
    flex: 1;
}

.child a.bouton {
    display: flex;
}

.child h3 {
    text-align: left;
}


.child10{
    background-color: black;
    width: 100%;
    height: 50px;

   
}

.child-1 button {
    background: red;
}

button {
    padding: 16px 24px;
    border-radius: 24px;
    border: 0;
    margin: 24px;
    background: orange;
    color: white;
    font-weight: bold;
    cursor: pointer;
}